.fade-enter-active, .fade-leave-active {
  transition: opacity .5s
}
.fade-enter, .fade-leave-to /* .fade-leave-active in below version 2.1.8 */ {
  opacity: 0
}
.transform-up-enter-active, .transform-up-leave-active {
  transition: transform .5s
}
.transform-up-enter, .transform-up-leave-to /* .fade-leave-active in below version 2.1.8 */ {
   transform: translateY(100%);
}