@import '../style/_base.scss';

$t-head-height: 3rem;
$t-head-background-color: $el-blue;
$t-head-font-color: #FFFFFF;
$t-head-font-size: 1rem;
$t-head-font-style: $default-font;
.t-head{
	position: relative;
	height: $t-head-height;
	line-height: $t-head-font-size;
	background-color: $t-head-background-color;
	color: $t-head-font-color;
	font-size: $t-head-font-size;
	font-family: $t-head-font-style;
	.title, .text{
		line-height: $t-head-height;
		box-sizing: border-box;
	}
	.left, .right{
		position: relative;
		padding-top: (($t-head-height - $t-head-font-size)/2);
	    box-sizing: border-box;
	}
	.left{
		padding-left: 1.25rem;
	}
	.right{
		padding-right: .5rem;
	}
	.t-head-back{
		position: absolute;
		top: (($t-head-height - $t-head-font-size)/2);
		left: .5rem;
	}
	.t-head-icon{
		position: absolute;
		top: (($t-head-height - .7)/2);
		left: .5rem;
		width: .5rem;
		height: .5rem;
		border: solid #FFF;
		border-width: 1px 0 0 1px;
		transform: rotate(-45deg);
	}
}