@import '../../style/_base.scss';

$t-message-font-style: "PingFang SC";

.t-message{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	font-family: $t-message-font-style;
	.body{
		margin: auto;
		position: absolute;
		left: 0;
		right: 0;
		top: 50%;
		width: 70%;
		background-color: #FFF;
		border-radius: 2px;
		transform: translateY(-100%);
		.body-text{
			padding: 1rem;
			border-bottom: 1px solid #e8e8e8;
		}
		.body-bottom{
			height: 2rem;
		}
		.button{
			text-align: center;
			line-height: 1.8rem;
		}
		.confime-button{
			color: $blue;
		}
		.cancel-button{
			position: relative;
			color: $b-3;
		}
		.cancel-button:after{
			content: "";
			position: absolute;
			top: 25%;
			right: 0;
			width: 1px;
			height: 40%;
			background-color: #e8e8e8;
		}
	}
}
